body
{
	padding: 0 !important;
	background-image: url("img/background.jpg");
	background-color: #333333;
}

#container
{
	
}

#infoSection
{
	background: rgba(200,200,200, 0.3);
	padding: 2%;
	margin: 2%;
	width: 40%;
	border-radius: 2% 2% 2% 2%; 
	float: left;
	
	font-family: 'Archivo', sans-serif;
}

#contentSection
{
	background: rgba(200,200,200, 0.3);
	height: 81vh;
	width: 40%;
	padding: 2%;
	margin: 2%;
	border-radius: 1% 1% 1% 1%;
	float: right;
	
	color: #efefef;
	font-size: 20px;
}

.langDiv
{
	position: fixed;
	opacity: 0.3;
	transition: opacity 0.1s ease-in-out;
	width: 2.3%;
}

#engLangDiv
{
	left: 2%;
	bottom: 4%;
}

#polLangDiv
{
	left: 4.3%;
	bottom: 4%;
}

.langDiv:hover
{
	opacity: 0.7;
}

.langPicture
{
	width: 100%;
}

#profilePicture
{
	width: 40%;
	transition: opacity 0.1s ease-in-out;
}

#profilePicture:hover
{
	opacity: 0.9;
}

h1
{
	font-size: 1.3vw;
	color: #efefef;
	padding: 0;
	margin: 0;
}